[submodule "cloud-worker"]
	path = cloud-worker
	url = git@github.com:yati-sagade/cloud-worker.git
[submodule "cloud-controller"]
	path = cloud-controller
	url = git@github.com:yati-sagade/cloud-controller.git
